* {
  margin: 0;
  padding: 0; }

html {
  width: 100%;
  max-width: 100%;
  height: 100%; }

body {
  width: 100%;
  max-width: 100%;
  height: 100%; }

#wrapper {
  min-height: 100%;
  position: relative; }

.nxt-bttn {
  width: 65%;
  margin: 0 auto; }
  .nxt-bttn button {
    margin-top: 5%;
    float: right;
    padding: 2%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    background-color: #F27935;
    border: none;
    color: #FFFFFF;
    font-size: 18px;
    font-family: Tondo;
    font-weight: 300;
    cursor: pointer; }

header {
  background-color: #3498db;
  width: 100%;
  max-width: 100%;
  height: 100px; }
  header h1 {
    font-family: Proxima Nova Soft;
    color: #FFFFFF;
    text-align: center;
    position: relative;
    top: 35%;
    font-weight: 500; }

#container {
  padding-bottom: 150px;
  width: 75%;
  margin: 0 auto; }
  #container h2 {
    font-family: Tondo;
    color: #535353;
    text-align: center;
    margin-top: 5%;
    font-weight: 300; }

.surveyForm {
  margin: 0 auto;
  width: 65%;
  border: 1px solid #2abb9b;
  margin-top: 5%;
  padding: 5% 0 5% 0;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -o-border-radius: 8px; }

.surveyTable {
  margin: 0 auto;
  width: 75%; }
  .surveyTable tr td:nth-child(2) {
    font-family: Tondo;
    font-size: 18px;
    padding: 2%;
    color: #535353; }

footer {
  background-color: #34495e;
  width: 100%;
  max-width: 100%;
  height: 100px;
  position: absolute;
  bottom: 0; }
  footer h1 {
    font-family: Tondo;
    color: #FFFFFF;
    text-align: center;
    position: relative;
    top: 35%;
    font-weight: 500; }

pre {
  word-wrap: break-word; }

#age-result {
  text-align: center;
  font-family: Tondo;
  font-weight: 300; }

/* ANIMATION STYLINGS
============================================================================= */
#form-wrap {
  position: relative;
  min-height: 100%;
  overflow: hidden;
  padding: 30px; }

/* basic styling for entering and leaving */
/* left and right added to ensure full width */
#container.ng-enter,
#container.ng-leave {
  position: absolute;
  left: 30px;
  right: 30px;
  transition: 0.5s all ease;
  -moz-transition: 0.5s all ease;
  -webkit-transition: 0.5s all ease; }

/* enter animation */
#container.ng-enter {
  -webkit-animation: slideInRight 0.5s both ease;
  -moz-animation: slideInRight 0.5s both ease;
  animation: slideInRight 0.5s both ease; }

/* leave animation */
#container.ng-leave {
  -webkit-animation: slideOutLeft 0.5s both ease;
  -moz-animation: slideOutLeft 0.5s both ease;
  animation: slideOutLeft 0.5s both ease; }

/* ANIMATIONS
============================================================================= */
/* slide out to the left */
@keyframes slideOutLeft {
  to {
    transform: translateX(-200%); } }
@-moz-keyframes slideOutLeft {
  to {
    -moz-transform: translateX(-200%); } }
@-webkit-keyframes slideOutLeft {
  to {
    -webkit-transform: translateX(-200%); } }
/* slide in from the right */
@keyframes slideInRight {
  from {
    transform: translateX(200%); }
  to {
    transform: translateX(0); } }
@-moz-keyframes slideInRight {
  from {
    -moz-transform: translateX(200%); }
  to {
    -moz-transform: translateX(0); } }
@-webkit-keyframes slideInRight {
  from {
    -webkit-transform: translateX(200%); }
  to {
    -webkit-transform: translateX(0); } }

/*# sourceMappingURL=style.css.map */
