@mixin responsive()
{
    width: 100%;
    max-width: 100%;
    height: 100%;
}

@mixin borderRadius($radius)
{
    border-radius: $radius;
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -o-border-radius: $radius;
}